body {
   display: flex;
   justify-content: center;
   background-color: rgb(245, 243, 247);
}

.container {
   text-align: center;
   font-family:'Times New Roman', Times, serif;
   background-color: white;
   padding: 30px;
   border-radius: 10px;
   box-shadow: 1px 1px 5px rgb(216, 199, 228);
}

.input{
   text-align: start;
   padding: 10px;
}

h2 {
   font-size: 2rem;
   color: rgb(114, 4, 218);
}

input {
   width: 20px;
}

#text-box{ 
   width: 200px;
   padding: 10px;
   text-align: center;
   border-radius: 5px;
   border: 1px solid gray;
}

#text-box:focus {
   outline: none;
   border: 2px solid blueviolet;

}

label{ 
   font-size: 1.3rem;
   font-weight: bold;
   line-height: 40px;
   color: rgb(117, 117, 117);
}

.container>label {
   color: rgb(41, 41, 41);
   font-size: 1.4rem;
}

button {
   padding: 14px 19px;
   border-radius: 7px;
   border: none;
   background-color: rgb(247, 239, 255);
   font-size: 0.9rem;
   font-weight: bold;
   color: blueviolet;
   margin-bottom: 20px;
   margin-top: 10px;
}

button:active {
   background-color:  rgb(239, 223, 255);
   transform: translateY(1px);
}

#refresh {
   background-color: rgb(255, 250, 222);
   color: #ff9d00;
   margin-left: 10px;
   font-weight: bold;
   font-size: 1rem;
}

#refresh:active {
   background-color: rgb(236, 227, 184);
   color:rgb(218, 138, 0); 
   transform: translateY(1px);
}

.password{
   font-weight: bold;
   font-size: 1.2rem;
   font-family: Arial, Helvetica, sans-serif;
   padding-top: 15px;
   border-top: 1px solid rgb(212, 212, 212);
   color: rgba(240, 130, 4, 0.721);
   margin: 10px;
   line-height: 30px;
}

.password span {
   font-size: 1.4rem;
   color: rgb(52, 52, 52);
   font-weight: 500;
}