* {
   box-sizing: border-box;
}

body {
   background-color: rgb(238, 247, 255);
}
.counter-box {
   background-color: white;
   width: 400px;
   height: 300px;
   padding: 15px 10px;
   border-radius: 7px;
   box-shadow: -1px 3px 6px 0px #0000001f;
   display: block;
   margin: 0 auto;
}

.count-label {
   font-size: 750%;
   display: block;
   text-align: center;
   font-family: Helvetica, sans-serif;
   margin-bottom: 17%;
}

.btn-container {text-align: center;}

.btn {
   border: 1px solid rgb(68, 177, 255);
   background-color: rgb(156, 214, 255);
   font-size: 110%;
   margin: 0px 10px;
   padding: 15px;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.2s, color 0.2s;
}
.btn:hover {
   background-color: rgb(68, 177, 255);
   color: white;
}
.btn:active {
   background-color: rgb(0, 110, 188);
}

